@import "styles/utils";

.header {
  background: var(--theme-floating-background);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.056);
  padding: 30px 0;

  @include media(">desktop") {
    padding: 23px 0 24px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;

    @include media(">desktop") {
      font-size: 24px;
      line-height: 33px;
    }
  }

  .darkModeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    background: transparent;
    border: none;
    cursor: pointer;

    @include media(">desktop") {
      font-size: 16px;
      line-height: 22px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
