
.countryCard {
  max-width: 264px;
  background: var(--theme-floating-background);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  overflow: hidden;

  .header {
    display: flex;
    justify-content: center;
    width: 264px;
    height: 160px;
    overflow: hidden;

    .headerImage {
      flex: 1;
      object-fit: cover;
      object-position: center;
    }
  }

  .body {
    font-size: 14px;
    line-height: 16px;
    padding: 24px 24px 46px;

    .countryName {
      font-weight: 800;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 16px;
    }

    .countryPropertyContainer {
      display: flex;
      flex-direction: column;
      grid-gap: 8px;

      .countryHeader {
        font-weight: 600;
      }
    }
  }
}
