@import '~include-media/dist/include-media';

$breakpoints: (mobile: 568px, tablet: 767px, desktop: 992px);

.light {
  --theme-background: #FAFAFA;
  --theme-color: #111517;
  --theme-floating-background: #FFFFFF;
  --theme-input-search-icon: url("/img/icon-search-light.svg");
  --theme-input-placeholder-color: #C4C4C4;
  --theme-chevron-icon: url("/img/icon-chevron-down-light.svg");
  --theme-arrow-left-icon: url("/img/icon-arrow-left-light.svg");
}

.dark {
  --theme-background: #202C36;
  --theme-color: #FFFFFF;
  --theme-floating-background: #2B3844;
  --theme-input-search-icon: url("/img/icon-search-dark.svg");
  --theme-input-placeholder-color: #FFFFFF;
  --theme-chevron-icon: url("/img/icon-chevron-down-dark.svg");
  --theme-arrow-left-icon: url("/img/icon-arrow-left-dark.svg");
}
